.navbar{
    color: white;
    font-size: 18px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background: linear-gradient(to top ,transparent 0%,rgb(0,0,0,0.3)50%);
//nav bar kur osht scrooled
   &.scrolled{
    background-color: var(--main-color);
   }

    .container{
        padding: 0px  50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;


        // .kerko{
        //     height: 25px;
        //     width: auto;
        //     background-color: rgb(95, 237, 237);
            
        // }

        .left{
            display: flex;
            align-items: center;
            padding: 20px;
            img{
                height: 24px;
                margin-right: 10px;
            }
            span{
                margin-right: 20px;
                cursor: pointer;
            }
        }

            .right{
                display: flex;
                align-items: center;

                .icon {
                    display: flex;
                    cursor: pointer;
                }
                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 5px;
                    object-fit: cover;
                    cursor: pointer;
                }
            }
            .profile{

                .options{
                   display: none; 
                //    background-color: var(--main-color);
                   border-radius: 5px;
                   
                }
                .span{
                    
                    padding: 15px;
                    cursor: pointer;
                }

                &:hover{
                    .options {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        position: absolute;
                        height: 50px;

                    }
                }

            }
       

    }
}